<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Login Page</title>
</head>
<body>

<h1>Login</h1>
<form action="#" th:action="@{/login}" th:object="${loginForm}" method="post">
    <input type="text" th:field="*{username}" placeholder="Username"/><br/>
    <button type="submit">Login</button>
</form>

<!---
<script>
    const name = document.getElementById("name").value;
    const redirect = document.getElementById("link");
    redirect.innerHTML = `<a href="/portfolio?name=${name}">Login</a>`;
</script>

<script>
    const name = document.getElementsByName("name").value;
    const searchBar = `<input type="text" id="name" name="name">`;
    const htmlCode = `<a href="/portfolio?name=${name}">Login</a>`;
    document.body.innerHTML = searchBar;
    document.body.innerHTML = htmlCode;
</script>
--->

</body>
</html>