<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Login Page</title>

    <style>
        .error {
            color: red;
        }

        .header {
            display:flex;
            margin-right: 10px;
        }

        .brand,
        .nav {
            flex: 1;
        }

        .nav {
            text-align: right;
        }

        li {
            display: inline;
            margin-left: 5px;
        }
    </style>
</head>

<header>
    <div class="header">
        <a class="brand" href="#"><img width="200px" th:src="@{/images/logo.png}"></a>
        <nav class="nav">
            <ol>
                <li class="crumb"><a href="#">Home</a></li>
                <li class="crumb"><a href="/login">Login</a></li>
            </ol>
        </nav>
    </div>
</header>

<body>

<h1>Login</h1>
<form action="#" th:action="@{/login}" th:object="${userForm}" method="post">
    <p class="error" th:if="${#fields.hasErrors('username')}">Invalid Username. Minimum of 6 characters. Maximum of 20 characters.</p>
    <input type="text" th:field="*{username}" placeholder="Username"/><br/>
    <button type="submit">Login</button>
</form>

</body>
</html>