<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Portfolio Page</title>
</head>
<body>

<script>
    function loadData() {
        var table = Document.getElementById("table")

        table.
    }
</script>

<table id = "table">
    <tr>
        <th>Ticker</th>
        <th>Buy Price</th>
        <th>Shares</th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>

</body>
</html>